html {
	font-size:18px;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
}
body{

}
header {
	background: url(../images/glasses-bg.png);
	background-size: cover;
	height:30rem;
	padding-top: 1rem;
	background-position: center;
}
#aqua_bar {
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 888px;
	margin: 0 auto;
	padding: 1rem 2rem;
	
}
.mobile-nav {
    display: none;
}
nav ul li {
	color: #fff;
	display:inline-block;
	margin-left:2rem;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
}
h2 {
	color: white;
	background-color: cadetblue;
	padding: .5rem 1.25rem;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
#logo {
	
	display: flex;
	align-items: center;
}
#logo img {
	height: 1.5rem;
}
#logo span{
	font-size: 1rem;
	margin-left: 1rem;
	color: #fff;
	
}
.tagline_wrapper {
	width: 960px;
	margin: 0 auto;
}
#tagline {
	background-color: white;
	padding: 1.5rem 5rem;
	margin-top: 10rem;
	display:inline-block;
	float: right;
	margin-right: -2rem;
}

.highlight_wrapper {
	display: flex;
}
.highlight {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	text-align: center;
	margin: 3rem;
	height: 8rem;
	width: 5rem;
}
/*.highlight img {
	width: 5rem;
}*/
#exams  {
	width: 3.5rem;
}
#fittings {
	width: 5rem;
}
#truck {
	width: 5rem;
}
.xtra-info {
	display: flex;
	justify-content: space-around;
	max-width: 960px;
} 
.xtra-info h2 {
	width: 10rem;
}
.xtra-info div{
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 0 2.5%;
}
.xtra-info div p {
	margin-top: 1rem;
}
footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: azure;
	width: 960px;
	margin: 5rem auto 0 auto;
	padding: 4rem;
}
footer img {
	height: 1.5rem;
}
footer span {
	margin-left: 1rem;
}

@media only screen and (max-width:1000px) {
	header {
		padding-top: 0;
		height: 22rem;
	}
	#aqua_bar {
		width: 100%;
		padding: 1rem 0;
	}
	nav {
		margin-right: 5%;
	}
	#logo {
		margin-left: 5%;
	}
	.tagline_wrapper {
		width: 100%;
	}
	h1 {
		font-size: 1.33rem;
	}
	#tagline {
		padding: .75rem 4rem;
		margin-right: 2rem;
		margin-top: 5em;
	}
}
@media only screen and (max-width: 745px) {

	header {
		background-position: 20%;
		height: 17rem;
	}
	nav ul {
		display: none;
	}
	.mobile-nav {
	    display: block;
	    width: 100%;
	    text-align: center;
	}
	#tagline {
		width: 100%;
		padding: 1rem 0;
		margin: 9rem 0 0;
		text-align: center;
	}
	h1 {
		font-size: 1rem;
	}
	#logo span {
		display: none;
	}
	.highlight_wrapper {
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;
	}
	.highlight {
		height: 6rem;
		margin: .77rem 0;
		justify-content: center;
	}
	.highlight span {
		font-size: .77rem;
		padding-top: 10px;
	}
	.xtra-info {
		flex-direction: column;
	}
	.xtra-info div {
		width: 100%;
		margin: 0;
	}
	.xtra-info h2 {
		width: 100%;
		text-align: center;
		padding: 1rem 0;
	}
	.xtra-info div p {
		font-size: .77rem;
		margin: 1rem .75rem 4rem;
	}
	footer {
	justify-content: center;
	width: 100%;
	padding: 4rem 0;
}
	footer span {
		display: none;
	}
}