@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #2a343a; 
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.8) 1px, transparent 1px, transparent 6px);
	background-size: 8px 8px;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
}
header {
    background-color: #28333C;
    background: url(../images/IMG_7274.jpg) no-repeat ;
    background-position: top right;
    background-size: 66.66%;
    border-bottom: solid 1px #000;
/*    height: 280px;
*/}
header div {
	width: 33.33%;
	float: left;
	height: 20em;
	position: relative;
}
#logo {
	/*width: 14%;
	margin-top: 20px;
	margin-left: 20px;*/
	width: 12em;
	position: absolute;
	top: 1em;
	left: 1em;
	/*Center logo in empty space*/ 
	/*top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
}
#header_img {
	float: right;
	width: 66%;
}
nav {
	font-weight: 800;
	font-size: 1.5em;
	text-transform: uppercase;
	/*background-color: #B2001C;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*clear: both;*/
    /*float: right;*/
	}
nav a {
	/*display: block;*/
	/*width: 10em;*/
	/*color: #C3E5F3;*/
	/*background-color: #28333C;*/
	color: #B2001C;
	text-decoration: none;
	border-bottom: solid .25em #B2001C;
	float: right;
	padding: 0 0 .2em 0; /*padding zero for text-only length underline*/
	margin: .5em .9em;
	}
nav a:hover {
	background-color: rgba(255,255,255,.8);
	border: none;
	padding: .5em .9em;
	margin: 0;
}
main {
	background-color: rgba(255,255,255,.97);
}
section {
    /*padding: 40px;*/
    
}
h1{
	font-size: 2.5em;
	color: #191919;
	font-weight: 800;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
	}
h3 {
	font-weight: 400;
	text-transform: uppercase;
	color: #d7dbdf;
	}
h4 {
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
	font-style: italic;
	margin-bottom: 3em;
	color: #777; 
	}
h6 {
	font-weight:800;
	color: #D10021;
	font-size: 1.2em;
	margin-bottom:.3em;

	}
#intro {
	/*background-color: #F3FFFF;*/
	
	padding: 3em 20%;
	
	}
section#intro div {
	float: left;
	width: 48%;
	margin: 0 1%;
	}
#intro p {
	color: #191919;
}
#areas {
	width: 60%;
    margin:0 auto;

}
#areas h3 {
	/*background: #2a343a;*/
	padding: 1em 0;
	border-top: solid .5em #28333C;
}
#areas a:hover h3 {
	border-top: solid .5em #B2001C;
}
#areas a {
	color: #B2001C;
	text-decoration: none;
	width: 23%;
	margin: 1%;
	float: left;
}
#areas img {
	display: block;
	width: 100%; /*100% of the parent (<a>), which has a width of 24%*/
	line-height: 0;
}
#areas a:hover img {
	/*background-color: #B2001C;*/
	opacity: .6;
}
footer{
	background-color: #B2001C;
	color: #191919;
    padding: 20px;
    clear: both;
}
footer a {
	color: #191919;
}
footer h6 {
	color: #fff;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	font-size: 0; 
	visibility: hidden;
	height: 0;
}