body {
  font-family:Helvetica;
  text-align: center;
  font-size: 14px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
	font-size: 32px;
	font-weight: bold;
}
header {
  background: url(../images/the-flatiron-building.png);
}
#menu {
	font-size: 18px;
	
}
#menu li{
list-style-type: none;
}
#menu a, footer a {
	color: white;
}
.designed-in {
	background: url(../images/the-flatiron-building.png);
	font-size: 23px;
	font-weight: bold;
	color: white;
}
footer {
	background-color: Dimgray;
	color: #fff;
	font-size: 11px;
	text-align: left;
}
footer p {
	display:inline;
}
.footer-menu li{
	display: inline;
}