.container {
	width: 80%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 500px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	overflow: hidden; /* this declaration makes the .container clear all floated columns within it. */
float:left;
}


#name1 {
	float: left;
	width:85px;
	height: 70px;
	margin: 10px 0;
	padding: 0px;
	border-bottom: dotted 1px #ff0033;	
	}
#name1 h4 {
	font-family:Arimo, sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing:.05em;
	text-transform: uppercase;
	
	}
#name1 a{
	text-decoration:none;
	}
#name1 a:link{
	color: #576670;
	}
#name1 a:visited{
	color: #576670;
	}
#name1 a:hover{
	color: #000;
	text-decoration:underline;
	}
#name1 a:active{
	color: #576670;
	}

.content_120mm {
	padding: 10px 0;
	/*width: 80%;*/
	margin: 0 auto;
	width: 600px;
	/*float: right;*/
	position:relative;
}

/*#main_div {
	width: 580px;
	margin:auto;
  }
  
#div_dir {
	height:700px;
	position:relative;
	float: left;
  }
*/  
#div_title {
	/*width:150px;*/
	height:70px;
	/*display:block;*/
	/*position: relative;*/
	margin:0px 50px 15px 50px;
	padding:0;
	float:left;
	border-bottom:dotted 1px #ff0033;
	/*margin-bottom:30px;*/
}
#links {
	height: 600px;
	width: 110px;
	/*font-family:Arimo, sans-serif;
	font-size:12px;
	line-height:15px;
	text-align:right;*/
	/*changed this from float-left to float-right*/
	/*clear:both;*/
	float: right;
	border-top:dotted 1px #30383A;
	margin-top: 99px;
	margin-right: 10px;
}

#links p {
	
	margin-top:4px;
	}
	

/*#links a:link{
	color:#777788;
	
	}
	
#links a:visited{
		color:#B3B3B3;
		
	}
	
#links a:hover{
		color: #000;
		
	
#links a:active{
	color:  #ff0033;
	
	}*/
	
	#div_more {
	float: right;
	/*height:60px;*/
	display:inline;
	/*position: relative;*/
	/*margin:0px 50px 15px 0;*/
	margin-top: 20px;
	margin-right:50px;
}


h4 {
	font-family:Arimo, sans-serif;
	font-weight:400;
	font-size: 15px;
	letter-spacing:.1em;
	color: #000;
}



/*#slideshow {
	width:590px;
	height:564px;
	margin: 20px auto 0 auto;
	overflow:hidden;
	text-align:center;
	float:left;
}*/

/*#main_div #slideshow {
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
	text-align:center;
}*/


 /*#slideshow div {
	height:564px;
	padding-top:0px;
}*/

/*#slideshow div img {
	display:block;
	float:left;
	padding: 0;
	border:0;
}*/

 #slideshow div p {
	margin:0;
	line-height:4em;
	font-family:Arimo, sans-serif;
	font-style:italic;
	font-size: .7em;
	font-weight:400;
	color: #607C8C;
	display:block;
	padding: 0;
	border:0;
}
/*.slide {
	width: 490px;
	}*/

/*p{
		padding:5px 0;
	margin:0 0 0 ;
	line-height:18px;
	font-family:Arimo, sans-serif;
	font-size: .7em;
	font-weight:400;
	color: #808080;
		}*/

a {
	color: #0072C6;
}
a:hover {
	color: #F93A2B;
}
/*.xtra{
	height: 30px;
	margin:0 auto;
	}*/
 /*.previous {
	display:block;
	margin-top:12px;
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-size:1.2em;
	float:left;
	position: relative;
	left:0;
	text-decoration:none;
}*/
 /*.previous {
	display:block;
	position:relative;
	left: 0;
	top:227px;
}
.next {
	display:block;
	position:relative;
	left: 0;
	top:227px;
	
}*/

/*.next {
	display:block;
	margin-top:12px;
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-size:1.2em;
	float:right;
	text-decoration:none;
}*/




/*div.vert_image {
	width:431px;
}*/
div#slide_viewer div {
	float: left;
}
/*div#slide_viewer a {
outline: 0;
}*/
a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
}
.arrows img {
	vertical-align: -277px;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	font-size: 0; 
	visibility: hidden;
	height: 0;
}


#div_more li {
	font-family:Arimo, sans-serif;
	font-weight:400;
	font-size: 15px;
	letter-spacing:.1em;
	color: #000;
	list-style-type: none;
	display:inline;
	padding-left:15px;
}
#div_more a {
	text-decoration: underline;
	cursor:pointer;
}
#div_more a:link {
	color: #ff0033;
}
#div_more a:visited {
	color: #0072C6;
}
#div_more a:hover {
	color: #ff0033;
}
#div_more a:active {
	color: #000;
}


iframe {
	scrolling: no;
	border:none;
	seamless: seamless;
	}
	iframe:focus {
outline: none; }
iframe[seamless] {
display: block; }