* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body {
	font-family: Arimo, sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin:0;
}
a {
	color: #000;
}
a:hover {
	color: #F93A2B;
}
header {
	float: left;
	height: 4em;
	margin: 0;
	padding: 0 0 0 1em;
	}
header a {
	/*font-family: Monda, sans-serif;*/
	font-size: .95em;
	letter-spacing:.05em;
	text-transform: uppercase;
	text-decoration:none;
	height: 2.25em;
	padding-right: 1em;
	display: block;
	margin-bottom: .25em;
	line-height: 1.3em;
	}
header a:link {
	color: #000;
	}
header a:visited {
	color: #000;
}
header a:hover {
	color: #000;
	text-decoration: underline;
	}
header a:active {
	color: #000;
}
hr {
	display: inline-block;
	background-color: #777788;
	background-color: #ff0033;
	height: .2em;
	height: .1em;
	border: none;
	width: 1.5em;
	/*margin: 1em auto;*/
}
h1 {
	font-size: .93em;
	font-weight: normal;
	letter-spacing:.1em;
	color: #000;
	height: 3.2em;
	margin:0;
	padding: 0;
	float: left;
	border-bottom: dotted 1px #ff0033;
	padding-right: 1em;
}
main {
	float: left;	
}
aside{
	/*height: 500px;*/
	width: 23%;
	float: right;
	margin: 5em 0 0 ;
	padding-right: 1em;
}
iframe {
	width:110px;
	height: 600px;
	scrolling: no;
	border: none;
	seamless: seamless;
	float: right;
	/*border-top: dotted 1px #30383A;*/
	margin: 0;
	}
iframe:focus {
	outline: none; 
}
iframe[seamless] {
	display: block; 
}
#slide_viewer {
	margin-top: 1.5em;
	width: 100%;
	/*height: 650px;*/
}
.snaps_thumbnails {
	margin-top: 1.5em;
	padding-left: 0;
}
.snaps_thumbnails ul {
	list-style-type: none;
	padding: 0;
}
.snaps_thumbnails li{
	display:inline;
	}
#slide_viewer > img, #slide_viewer > div{
	float: left;
}
.container {
	width: 100%;
	background: #FFF;
	margin: 2em auto 0 auto; 
	overflow: hidden; 
}
.thirtyfive section#album-name {
	width: 87%;
	margin-right: 6.2%;
	margin-left: 6.2%;
	max-width: 750px;
}
.onetwenty section#album-name {
	width: 85.3%;
	margin-right: 7.35%;
	margin-left: 7.37%;
	max-width: 680px;
}
.snapshots section#album-name {
	margin: 0;
	}
main.thirtyfive div.cycle-slideshow {
	width: 87%;
}
main.onetwenty div.cycle-slideshow {
	width: 85.3%;
}
main.onetwenty img.arrows  {
	width: 7.35%;
}
main.thirtyfive img.arrows  {
	width: 6.2%;
}
img.arrows:hover {
	cursor: pointer;
}
img.arrows:focus, img.arrows:active, img.arrows:checked {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
/*#slide_viewer > img:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}*/
.narrowest { width: 17%;}
.narrow { width: 23%;}
.wide{ width: 28%;}
.onetwenty {
	width: 44%;
	max-width: 680px;
}
.thirtyfive {
	width: 53%;
	max-width: 750px;
}
.snapshots {
	width: 60%;
	/*max-width: 750px;*/
}
.cycle-slideshow {
	margin: 0px auto; 
	padding: 0; 
	position: relative;
	background: url(../images2/loading.gif) 50% 50% no-repeat;
}
.cycle-slideshow img { 
	position: absolute; 
	top: 0; 
	left: 0;
    width: 100%; 
    padding: 0; 
    display: block;
    z-index: 100;
    opacity: 1;
}
.cycle-slideshow img.V {
	width: 62%;
	margin-left: 19%;
}
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}
p#adv-custom-caption {
	font-style:italic;
	font-size: .7em;
	padding-top: 1.5em;
	color: #607C8C;
	text-align: center;
	margin:0;
	clear: left;
}
ul#more {
	float: right;
	margin-top: 20px;
}
ul#more li {
	letter-spacing:.05em;
	font-size: .875em;
	color: #000;
	list-style-type: none;
	display: inline;
	padding-left:.8em;
}
ul#more a {
	text-decoration: underline;
	cursor: pointer;
}
ul#more a:link {
	color: #ff0033;
}
ul#more a:visited {
	color: #777788;
}
ul#more a:hover {
	color: #000;
}
ul#more a:active {
	color: #000;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	font-size: 0; 
	visibility: hidden;
	height: 0;
}
@media only screen and (max-width: 1200px) {
	.narrowest { width: 17%;}
	.narrow { width: 21%;}
	.wide { width: 25%;}
	.snapshots { width: 66%;}
	.thirtyfive { width: 58%;} 
	.onetwenty { width: 50%;}
	.snapshots + aside { width: 17%;}
	.thirtyfive + aside { width: 21%;}
	.onetwenty + aside { width: 25%;}
}
@media only screen and (max-width:1000px) {
	.narrowest { width: 15%;}
	.narrow { width: 15%;} 
	.wide { width: 17.5%;}
	.thirtyfive { width: 68%; } 
	.onetwenty { width: 65%;}
	.onetwenty + aside {
		width: 17.5%;
		padding-right: 0;
	}
	.thirtyfive + aside { width: 16%;}
	.snapshots + aside { width: 19%;}
}
@media only screen and (max-width:800px) {
	.container {
		margin-top: 1em;
	}
	header {
		float: none;
	}
	.narrowest {
		width: 17.5%;
	}
	.onetwenty {
		margin-top: 2em;
		margin-left: 10%;		
	}
	.thirtyfive {
		margin-top: 2em;
		margin-left: 12%;
	}
	.snapshots {
		margin-top: 2em;
		margin-left: 15%;		
	}
	aside {
		float: right;
		margin-top: 7.75em;
	}
	iframe {
		width: 96px;
	}
	#album-name h1 {
		float: none;
		width: intrinsic;
		width: -moz-fit-content;
		width: -webkit-fit-content;
	}
	ul#more {
		float: none;
		padding-left: 0;
		margin-top: .5em;
	}
	ul#more li:first-child {
		padding-left: 0;
	}
}
@media only screen and (max-width:600px) {
	/*main {
		margin: .5em 0 1em;
	}*/
	aside {
		float: none;
		margin-left: 1em;
	}
	iframe {
		float: none;	
	}
	.thirtyfive, .onetwenty {
		width: 100%;
		margin: .5em 0 1em;
	}
	#slide_viewer {
		width: 90%;
		margin: 2em auto 0;
	}
	.snapshots{
		width: 95%;
		margin-top: .5em;
	}
	section#album-name, .snapshots {
		margin-left: 1em;
	}
}
@media only screen and (max-width:450px) {
	body {
	font-size: 15px;
	}
	#slide_viewer {
		width: 96%;
	}
}
