* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #eff6e3;
	font-family: "arvo", helvetica, arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: #444;
	
}
body.home {
	background: url(../images2/packages_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body.contact {
	background: url(../images2/contact_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-family: "cardo", Georgia, "Times New Roman", serif;
	font-size: 3.75em;
	color: #fff;
	border: solid 8px;
	background-color: rgba(133, 186, 122, 0.1);
	padding: 5px 68px;
	}
h2{
    font-family: "montserrat", arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #595b65;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 1.5em 1em;
}
h3 {
	font-family: "montserrat", arial, sans-serif;
	font-size: 1.5em;
	letter-spacing: .05em;
	/*color: #a5b703;*/
	color: #8b9f03;
	text-transform: uppercase;
	/*margin:0 0 2% 0;*/
	}
h4 {
	text-transform: uppercase;
	font-weight:700;
	font-size: .8em;
	letter-spacing: .05em;
	color: #a5b703;
	}
h5 {
	font-size: .8em;
	color: #8f9bb0;
	}
a {
	text-decoration: none;
	}
header{
	background-color: rgba(255,255,255,.8);
	/*height: 200px;*/
	border-bottom: solid #fff thin;
	}
header section, footer section {
	display: flex;
	}
header section:first-child {
	justify-content: flex-end;
	}
header section:nth-child(2) {
	justify-content: space-between;
	align-items: center;
	}
nav {
	font-family: "montserrat", arial, sans-serif;
	font-size: 1.125em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .05em;
	order: 2;
	/*padding: 4em 0 0;*/
	}
nav a {
	display: inline-block;
	margin: 0 15px;
	border-bottom: 2px solid #ff2858;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
	}
nav a:link, nav a:visited {
	color: #ff2858;
}
header nav a:hover, header nav a:focus, header nav a:active {
	/*color:#de2c52;*/
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
nav#family_links a {
	border-bottom: none;
	text-decoration: underline;
}
nav#family_links a:link, nav#family_links a:visited {
	
	color: #fb09a3;
}
nav#family_links a:hover, nav#family_links a:focus, nav#family_links a:active {
	color: #4e0935;
	color: #8b9f03;	
}
main {
	display:flex;
	align-items: center;
}
.home main {
	flex: 1; /* makes div grow to window-size */
	justify-content: center;
	flex-direction: column;
	}
.contact main, .infusions main {
	flex: 1;
	flex-direction: column;
	}
.store main, .about main {
	flex-direction: column;	
	padding-bottom: 1em;
	width: 75%;
	margin: auto;
	}
.store main section {
	flex-wrap: wrap;
	justify-content: space-around;
	}
.store main {
	max-width: 1300px;
	}
.infusions main {
	flex-direction: column;	
	/*padding-bottom: 1em;*/
	width: 65%;
	margin: auto;
	max-width: 1020px;
}
.about main, {
	max-width: 1140px;
	}
.terms main {
	flex-direction: column;
	width: 60%;
	margin: auto;
	padding-bottom: 3em;
	}
footer{
	/*display: flex;*/
	/*justify-content: space-between;*/
	background-color: rgba(0,0,0,.8);
	color: #D0E1E8;
	width: 100%;
	padding: .7em 2%;
	}
footer section:first-child {
	display: none;
	}
footer section:nth-child(2) {
	/*width: 100%;*/
	/*flex-basis: 100%;*/
	justify-content: space-between;
	}
footer a {
	font-size: .9em;
	color: #9FB0AD;
	text-decoration: underline;
	}
footer a:visited, footer a:hover, footer a:active {
	color: #9FB0AD;	
	}
#wrapper {
    /*min-height: 100%;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*position: relative;*/
    /*padding-bottom: 200px;*/
    /*min-height: -webkit-calc(100% - 100px);    
    min-height: -moz-calc(100% - 100px);     
    min-height: calc(100% - 100px);   */  
}
#logo img{
    max-width: 5em;
	margin-left: 2em;    
	/*position: absolute;
    top: 2em;
    left: 2em;*/
    opacity: .95;
    order: 1;
	}
#basket {order: 3;
}

.fb img{
	max-width: 2.5em;
	margin: 6px 1em 0 .5em;
}
#basket img {
	max-width: 4em;
	margin-right: 2em;
}
#mobile {
	display: none;
}
#legal {
	font-size: .75em;
	color: #798489;
}
#pay_terms{
	display: flex;
}
footer span {
	/*height:5em;*/
	margin-right: 1em;
}
#pp img {
	max-width: 5em;
	/*margin: 5px 20px 0 0;*/
	/*display: inline-block;*/
}
/*footer section:first-child {
	flex-basis: 30%;
}	*/
.section_menu {
	width: 60%;
    margin:0 auto;
    margin-top: 2em;
}
.section_menu a {
	text-decoration: none;
	width: 24%;
	margin: .5%;
	float: left;
	-o-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	-o-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
	-moz-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
	-webkit-transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
	transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
	background: white;
}
.section_menu img {
	display: block;
	width: 100%; 
	line-height: 0;
}
.section_menu div {
	padding: 1em .75em 1.5em;
	height: 5em;
}
.section_menu a:link {
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-ms-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	transition: background-color .4s ease;
}
.section_menu a {
	background-color: #fff;
	color: #F3FFFF;
	/*color: #C6D4D2;*/
}
.section_menu a:hover {
	background-color:rgba(255,255,255,.95);
	color: #000;
}
.multi-col{
	margin-top:1em;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	}
.multi-col * {
	margin: 1%;
}
.align_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.white_bg {
	 background-color:#fff;
	 /*margin: 1%;*/
}
.green_bg {
	background-color: #d9e0be;
	margin-top: 2em;
	}
.photo {
	width:65%;
}
.body-copy {
	margin: 0 0 0 4%;
	}
.tea_family {
	display: flex;
	margin-bottom: 2em;
	flex-wrap: wrap;
    justify-content: space-around;
}
.tea_family a {
	margin: 0 0 1.25em;
	background-color: #fff;
	/*margin-top: 1em;*/
	font-family: montserrat, sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	font-size: 1.125em;
	flex-basis: 31%;
	-webkit-box-shadow: 0 0px 26px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 0px 26px -6px rgba(0,0,0,.2);
	        box-shadow: 0 0px 26px -6px rgba(0,0,0,.2);
}
.tea_family span {
	display: block;
	/*background-color: #ededf2;*/
	color: #fff;
	line-height: 2.4em;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.tea_family img {
	width: 100%;
}
.tea_family a:nth-of-type(1) span {
	background-color: #accde6;
	/*border-bottom: solid 8px #accde6;*/
}
.tea_family a:nth-of-type(2) span {
	background-color: #ff2858;
	/*border-bottom: solid 8px #ff2858;*/
}
.tea_family a:nth-of-type(3) span {
	background-color: #d0d947;
	/*border-bottom: solid 8px #d0d947;*/
}
.tea_family a:nth-of-type(4) span,
.tea_family a:nth-of-type(5) span,
.tea_family a:nth-of-type(6) span 
{
	background-color: #a7aa95;
	/*border-bottom: solid 8px #afbaaa;*/
}
.tea_family a span:hover {
	background-color: #fff;
}
.tea_family a:nth-of-type(1) span:hover {
	color: #accde6;
	
}
.tea_family a:nth-of-type(2) span:hover {
	color: #ff2858;
}
.tea_family a:nth-of-type(3) span:hover {
	color: #d0d947;
}
.tea_family a:nth-of-type(4) span:hover, 
.tea_family a:nth-of-type(5) span:hover,
.tea_family a:nth-of-type(6) span:hover
{
	color: #a7aa95;
}
.tea_listings {
	/*width: 65%;*/
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tea_listings > div {
	flex-basis:32%; /* width */
	margin-bottom: .75em;
	background-color:#fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#calming, #tonic, #detox, #beauty, #iced, #taylored {
	display: none;
}
/*.hidden {
	display:none;
}
.visible {
	display:block;
}*/
.C h4 {color: #8ebbdd;}
.T h4 {color: #ff2858;}
.D h4 {color: #aecf2c;}
.B h4, .I h4 {color: #a7aa95;}

/*.contact_area {
	width: 35%;
}*/
.terms main h3 {
	padding-top: 3em;
	padding-bottom: 1.5em;
	text-align: center;
	color: #3f443b;
}
.terms main p {
	font-size: .75em;
	text-align: justify;
	line-height: 1.7em
}
.terms main h4 {
	font-size: .9em;
	text-transform: none;
	letter-spacing: .025em;
	color:#222;
	padding-top: 1.5em;
	padding-bottom: .5em;
}
/*contact form styles*/
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
button, input, select, textarea {
    font-size: 100%;
    vertical-align: baseline;
    vertical-align: middle;
    /*reset*/
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header button, header input, header select, header textarea {
	border: 1px solid #b8c9b5;
	color: #868686;
}
footer button, footer input, footer select, footer textarea {
	border: 1px solid #6c767b;
	color: #9FB0AD;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
#contact_form {
	width: 40%;
	max-width: 650px;
}
#contact_form input, textarea {
	border: none;
	margin-bottom: .5em;
}
/*#tswfbform {
	width: 650px;
}*/
#tswname, #tswemail {
	background-color: none;
	width: 85%;
}
#tswcomments {
	width: 100%;
	background-color: rgba(255,255,255,.8);
	border: solid 4px #bacc41;
	margin-top: 3px;
}
#tswsubmit {
	width: 33%;
}/*more styles with add-to-cart*/

/*contact form styles — end*/

#mad_mimi_signup_form{
	width: 314px;
	margin: 12px 34px 0 0;
	font-size: .9em;
	}
footer #mad_mimi_signup_form{
	margin: 8px 0 0;
}
#signup_email{
	font-size: .9em;
	padding-left: 4px;
	width: 200px;
	float: left;
	height: 25px;
	}
#webform_submit_button{
	width: auto;
	font-size: .8em;
	margin-left: 5px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
header #webform_submit_button{
	background-color: #e8f2d2;
}
footer #webform_submit_button{
	background-color: #000;
}
#contact_form hr {
	background-color: #bacc41;
	height: 4px;
	border: none;
	width: 100%;
	margin: 0 0 1em 0;
}
#contact_form p {
	width: 100%;
	margin-bottom: 1em;
}

#contacts {
	max-width: 90%;
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
/*#contacts span{
	display: block;
}*/
.add-to-cart {
    text-transform: uppercase;
	font-family: "montserrat", arial, sans-serif;
	background-color: #e7efc8;
	color: #566835;
	border: 1px solid #a4ba8f;
	font-size: .75em;
	padding: .5em;
	letter-spacing: .05em;
}
input#tswsubmit {
	text-transform: uppercase;
	font-family: "montserrat", arial, sans-serif;
	background-color: #8b9f03;
	color: #fff;
	border: 1px solid #a4ba8f;
	font-size: .75em;
	padding: .5em;
	letter-spacing: .05em;
}
#press {
	width:100%;
	margin-bottom: 2em;
}
.logos {
	/*width: 100%;*/
	display: flex;
	justify-content: space-between;
}
.logos span {
	height: 6em;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: dotted 1px #ff2858;
}
.logos span:last-child { border-right-width: 0; }
.logos img {
	max-width: 11em;
	max-height: 4em;
}
nav#family_links {
	margin-top: 2em;
	margin-bottom: 1em;
}

/*temp styles start*/
.tea_listings h4 {
	margin: 1.75em 0 .25em 4%;
	line-height: 12px;
	}
.tea_listings h5 {
	margin: 0 4% 5% 4%;
}
.tea_listings .descricao {
	margin: 4% 4%;
	font-size: .9em;
}
#conceito, #perfil {
	display: flex;
	flex-direction: row;
	/*align-items: flex-start;*/
	padding: 1em;
}
#perfil {
	/*align-items: flex-start;*/
}
#matfin1 {
	background: url(../images/matfin1_L-v.jpg) no-repeat scroll center;
	background-size: cover;
}
#laetitia {
	background: url(../images/laetitia_L.jpg) no-repeat scroll top;
	background-size: cover;
}
.descricao {
	color: #767a72;
}
.myCha{
	text-transform:uppercase;
	color: #000;
	font-size: .95em;
}
.bold_name {
	color: #8b9f03;
}
.uppercase {
	text-transform: uppercase;
	}
h5.cha_detail {
	/*padding-top: 1%;*/
	margin-left: 4%;
	}
.cha_detail a:link, .cha_detail a:visited, .cha_detail a:hover, .cha_detail a:active {color: #444;}

p.composicao {
	font-size: .8em;
	line-height: 1.25em;
	margin: 2% 4% 0 4%;
	color: #767a72;
	font-style: italic;
	}
.buy {
	display: flex;
	justify-content: space-between;
	margin: 0 4% 1em 4%;
	}
p.price {
	font-size: .75em;
	font-weight:700;
	color:#47565d;
	align-self: center;
	/*margin-bottom: 2%;*/
	/*padding: 8% 0% 0% 5%;*/
	}
p.select_size{
	font-size: 11px;
	margin-bottom: 0%;
	padding: 6% 0% 0% 5%;
	}
p.select_size a:link {color: #5c6f7f;}
p.select_size a:hover {color: #5c6f7f;}
p.select_size a:visited {color: #5c6f7f;}
p.select_size a:active {color: #5c6f7f;}
img.photo1 {
    margin: 4% 4% 4% 4%;
	/*max-width: 92%;*/
	width:92%;
	display: block; /*this fixes spacing after the img*/
	}
/*temp styles end*/

/*Media Queries*/

@media only screen and (max-width: 1500px) {
	.contact h2 {
		margin-bottom: .75em;
	}
	#contact_form p {
    margin-bottom: .5em;
	}
	/*#tswfbform {
    width: 500px;
	}*/
	#tswcomments {
	height: 240px;
	}
	.logos span {
    height: 4em;
	}
}
@media only screen and (max-width: 1380px) {
	body {
		font-size: 16px;
	}
	header section:nth-child(2) {
		flex-wrap: wrap;
		margin-top:.5em;
	}
	#basket { order: 2;}
	header nav { order: 3;
		width: 100%;
		margin-top: 0;
		margin-bottom: 1em;
	}
	header section:first-child {
		display: none;
	}
	footer section:first-child {
		display: flex;
		justify-content: space-between;
		margin-bottom: .5em;
	}
	.fb img {
	    margin-right: 0;
	
	}
	h1 {
		font-size: 2.75em;
		border-width: 6px;
	    padding: 3px 38px;
	}
	h2 {
		margin-top: 1em;
		margin-bottom: .7em;
	}
	#logo img {
		width: 4.5em;
		margin-left: 1em;
	}
	#basket img {
    max-width: 4em;
    margin-right: 1em;
	}
	#contact_form hr {
		margin-bottom: .5em;
		height: 3px;
	}
	#tswcomments {
    height: 180px;
    border-width:3px;
	}
	#contacts {
		margin-top: 1em;
		margin-bottom: .75em;
	}
	.logos img {
    max-width: 11.25em;
    max-height: 3.7em;
	}
}
@media only screen and (max-width: 1110px) {
	#contact_form {
		width: 50%;
	}
	.store main, .about main {
		width: 90%;
	}
	.infusions main {
		width: 75%;
	}
	.logos span {
		height: 3em;
    }
	.logos img {
	    max-width: 10.5em;
	    max-height: 3.5em;
	}
	#basket img {
	    max-width: 3.5em;
	}
	nav#family_links a {
		margin: 2px 8px;
	}
}
@media only screen and (max-width: 948px) {
	  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    /*background-image: url(images/background-photo-mobile-devices.jpg);*/
	
	}
	header nav a {
	 margin: 0 7px;
	}
	h1 {
	  	font-size: 50px;
		line-height: 50px;
		border-width: 5px;
		padding-left: 12px;
		padding-right: 12px;
		width: 438px;
		text-align: center;
	}
	h3 {
		text-align: center;
		margin-top: 1.3em;
		margin-bottom: .5em;
		line-height: 1.25em;
	}
	#conceito h3:nth-of-type(2) {
		margin-top:.5em;
	}
	#contact_form {
		width: 55%;
	}
	.store main, .about main {
		width: 75%;
	}
	.infusions main {
		width: 85%;
	}
	#conceito, #perfil {
    flex-direction: column;
	}
	.photo {
		height:400px;
		width: 100%;
	}
	.body-copy {
		margin-right:4%;
	}
	.logos img {
    max-width: 8em;
    max-height: 2.5em;
	}
	.tea_listings > div {
    flex-basis: 48%;
	}
	.tea_family a {
		font-size: 1em;
	}
}
@media only screen and (max-width: 800px) {
	#contact_form {
		width: 60%;
	}
	.store main, .about main {
		width: 85%;
	}
	.logos img {
    max-width: 7.5em;
    max-height: 2.5em;
	}
	.terms main {
		width: 75%;
	}
	
}
@media only screen and (max-width:680px) {
	body {
		font-size: 15px;
	}
	h2 {
		font-size:1.75em;
	}
	h3 {
		margin-top: 1em;
		font-size: 1.25em;
	}
	.infusions main {
		width: 75%;
	}
	#contact_form {
		width: 70%;
	}
	#contacts {
		flex-wrap:wrap;
	}
	#tswname, #tswemail {
		width: 80%;
	}
	#laetitia {
		height: 300px;
	}
	.logos img {
	    max-width: 6.5em;
	    max-height: 2.2em;
	}
	.logos {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.logos span {
		width: 49.5%;
		border: none;
		background-color: #fff;
		height: 130px;
	}
	.logos span:nth-child(n+3) {
		margin-top: 5px;
	}
	.logos img {
	    max-width: 8em;
	    max-height: 3.2em;
	}
	.tea_family a {
		flex-basis: 48%;
	}
	nav#family_links {
    margin-top: 1em;
    margin-bottom: .5em;
	}
	#error {
		margin: 0 2em;
	}

}
@media only screen and (max-width: 520px){
	.store main  {
		width: 75%;
	}
	.infusions main {
		width: 85%;
	}
	.bullet {
		display: none;
	}
	#tswsubmit {
    width: 50%;
	}
	#matfin1 {
		height: 300px;
	}
	#laetitia {
		height: 260px;
	}
	.tea_listings > div {
    flex-basis: 100%;
	}
	.terms main {
		width: 85%;
	}
}
@media only screen and (max-width:460px){
	#mobile {
	  	display: block;
	}
	header nav {
		 background-color: #bff141;
		 margin-bottom:0;
	}
	header nav a {
		 width: auto;
		 padding: .5em 0;
		 display: none;
		 letter-spacing: .1em;
		 border: none;
		 -webkit-transition-property: none;
		 transition-property: none;
	}
	header nav:hover a {
	  	display: block;
	}
	header nav a:hover, header nav a:focus, header nav a:active {
	    -webkit-transform: none;
	    transform: none;
	}
	h1 {
		font-size: 40px;
		line-height: 40px;
		border-width: 4px;
		padding: 3px 15px;
		width: 347px;
	}
	#logo img {
		width: 4em;
		margin-left: 1em;
	}
	#basket img {
    max-width: 3.5em;
    margin-right: 1em;
	}
	.about main {
		width: 90%;
	}
	.store main  {
		width: 85%;
	}
	#contact_form {
		width: 80%;
	}
	#tswcomments {
    height: 160px;
	}
	#matfin1 {
		height: 280px;
	}
	#laetitia {
		height: 230px;
	}
	.logos span {
		/*width: 49%;*/
		height: 100px;
	}
	.logos span:nth-child(n+3) {
		margin-top: 4px;
}
@media only screen and (max-width: 370px) {
	h1 {
		font-size:36px;
		width: 254px;
	}
	h2 {
		font-size: 1.5em;
		margin-top: .75em;
		margin-bottom: .5em;
	}
	header nav {
		margin-top: .1em;
	}
	footer {
		padding-bottom: .2em;
	}
	footer span {
		width: 18px;
		overflow: hidden;
	}
	footer section:first-child {
		/*flex-wrap: wrap;*/
		margin-bottom: 0em;
		/*flex-direction: column;*/
	}
	.store main, .infusions main  {
		width: 90%;
	}
	#signup_email {
		width: 168px;
	}
	#webform_submit_button {
		padding-left: 8px;
		padding-right: 8px;
	}
	.fb {
		align-self: flex-end;
		margin-right: .25em;
	}
	footer a {
		font-size:.75em;
	}
	#logo img {
		width: 3.5em;
		margin-left: .75em;
	}
	#basket img {
	    max-width: 3em;
	    margin-right: .75em;
	}
	#matfin1 {
		height: 250px;
	}
	#laetitia {
		height: 190px;
	}
	.logos img {
	    max-width: 7em;
	}
	.tea_family a {
		font-size: .9em;
	}
	nav#family_links {
    margin-top: .75em;
    margin-bottom: .25em;
	}
}