* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:#191919;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
}
h1{
	color:#fff;
	font-weight: 900;
	text-transform: uppercase;
}
#tagline{
	font-weight: 600;
	color: #fff;
	
	}
h3 {
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: #d7dbdf;
	}
div#logo {
	background-color: #2a343a;
	padding: 20% 10%;
	}
nav {
	font-family: "proxima-nova-condensed",sans-serif;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	}
nav a {
	color: #fff;
	background-color: #B2001C ;
	}
#intro {
	background-color: #28333C;
	}
#intro p {
	color: #d7dbdf;
}
footer{
	background-color: #B2001C;
color: #fff;
}
footer a {
	color: #fff;
}