@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #2a343a; 
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.8) 1px, transparent 1px, transparent 6px);
	background-size: 8px 8px;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
}
header {
	border-bottom: solid .1em #28333C;
}
#logo {
	width: 12em;
	position: absolute;
	top: 1.2em;
	left: 1.2em;
}
#header_img {
	float: right;
	width: 66%;
}
nav {
	font-weight: 800;
	font-size: 1.5em;
	text-transform: uppercase;
	position: absolute;
	top: .5em;
	right: 1.2em;
	}
nav a {
	color: rgba(255,255,255,.95);
	text-decoration: none;
	border-bottom: solid .25em #fff;
	padding: 0 0 .2em 0; /*padding zero for text-only length underline*/
	margin: .5em .9em;
	}
nav a:hover {
	background-color: rgba(255,255,255,.95);
	color: #B2001C;
	border: none;
	padding: .5em .9em;
	margin: 0;
}
main {
	background-color: rgba(255,255,255,.05);
}
section {
}
h1{
	font-size: 2.5em;
	color: #C3E5F3;
	font-weight: 800;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
	}
h3 {
	font-weight: 400;
	text-transform: uppercase;
	color: #F3FFFF;
	text-align: center;
	}
h4 {
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
	font-style: italic;
	color: #999; 
	}
h6 {
	font-weight:800;
	color: #93A3A3;
	font-size: 1.2em;
	margin-bottom:.3em;

	}
#intro {
	padding: 3em 20% 5em 20%;
	margin-bottom: .2em;
	}
section#intro div {
	float: left;
	width: 48%;
	margin: 0 1%;
	}
#intro p {
	color: #F3FFFF;
}
#areas {
	width: 75%;
    margin:0 auto;
    margin-top: 2em;
}
#areas h3 {
	padding-top: .7em;
	padding-bottom: .7em;
	/*border-top: solid .5em rgba(255,255,255,.97);*/
	background-color: #B2001C;
}
#areas a:hover h3 {
	/*border-top: solid .5em yellow;*/
}
#areas a {
	background-color: #B2001C;
	text-decoration: none;
	width: 24%;
	margin: .5%;
	float: left;
}
#areas img {
	display: block;
	width: 100%; /*100% of the parent (<a>), which has a width of 24%*/
	line-height: 0;
}
#areas a:hover img {
	/*background-color: #B2001C;*/
	opacity: .6;
}
footer{
	background-color: #B2001C;
	color: #F3FFFF;
	padding: 0 20px;
	clear: both;
	padding-bottom: 3em; 
}
footer a {
	color: #F3FFFF;
}
footer h6 {
	clear: left;
	color: #F3FFFF;
	text-transform: uppercase;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	font-size: 0; 
	visibility: hidden;
	height: 0;
}
footer > nav {
	position: static;
	/*float: left;*/
	font-size: 1.4em;
	margin-bottom: 1.7em;
	padding-top: .5em;
}
footer > nav a {
	color: #879AA2;
	margin-left: 0;
	border-bottom: solid .2em #879AA2;
	}
footer > nav a:hover {
	background-color: transparent;
	color: rgba(255,255,255,.95);
	padding-left: 0;
}
footer div {
	float: left;
	margin-right: 4em;
	font-size: .8em;
}
footer p {
	padding-top: .5em;
}
#legal {
	clear:both;
	font-size: 10px;
	color: #191919;
	text-align:center;
}
