
html {
}
body {
	margin:0;
	font-size: 18px;
	font-family: 'Muli', Arial, sans-serif;
	font-weight: 400;
	color: #7e858f;
}
p, h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4 {
	color: #373642;
	font-weight: 800;
}
h1 {
	font-size: 2.5em;
	padding: .5em 0;
	line-height:1em;
}
h2 {
	font-size: 2.25em;
	padding: .6em 0;
}
h3 {
	font-size: 1.35em;
}
h4 {
	font-size: 1.25em;
	padding: 1em 0 .5em;
}

header > div:first-child {
	position: fixed;
	height: 64px;
	width: 100%;
	top:0;
	right:0;
	left: 0;
	background-color: #fff;
	border-bottom: solid 1px #dadfe3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

#logo {
	display: flex;
	align-items: center;
	margin-left: 1.3em;
}
#logo span {
	text-transform: uppercase;
}
div#logo span:first-of-type{
	color: #000;
	font-weight: bold;
}
.mobile-nav {
	display: none;
}
header nav {
	margin-right: 1.33em;
}
nav ul li {
	display: inline-block;
}
.banner {
	margin-top: 65px;
	display: flex;
	background-color: #dadfe3;
	
}
.banner > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left:40px;
	width: 30%;
}

header ul li {
	margin-left:16px;
	color: #373642;
}
div.button {
	background-color: #373642;
	color: white;
	padding: 8px;
	text-align: center;
	margin-top: 2em;
}
#intro {
	display: flex;
}
.left {
	width:60%;
	padding: 1.7em 1.3em;
}
.left img, .left video {
	width: 100%;
}
.caption {
	display: block;
	font-size: .75em;
	margin-top: 3em;
}
#intro .callout_column {
	width:560px;
	border-left: 1px solid #777;
	display: flex;
	flex-direction: column;
	padding-top: .6em;
}
#intro .callout_column > div:last-child, #thesis_exhibit .callout_column > div:first-child { 
	background-color: #dadfe3;
} 
.callout_column img {
	/*min-width: 35%;*/
	/*width: 35%;*/
	margin: 1.125em;
}
.horz_callout img + div {
	 width: 65%;
	 margin: 1.125em;
}
.horz_callout {
	display: flex;
	align-items: flex-start;
}
.read_more {
	display: block;
	margin-top: .5em;
	color: #66acf0;
}
.courses {
	text-transform: uppercase;
	display: block;
	padding: 8px 0;
}
#start_learning {
	background-color: #dadfe3;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0 3em 0;
}
#start_learning h2, #thesis_exhibit h2 {
	text-align: center;
}
#start_learning > div {
	display: flex;
	flex-wrap: wrap;
	max-width: 1260px;
}
.vert_callout {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	margin: 16px;
	/*height:220px;*/
	background-color: #fff;
}
.vert_callout img {
	width: 100%;
}
.vert_callout > div {
	padding: .75em;
}
#thesis_exhibit > div:first-of-type {
	display: flex;
}
#thesis_exhibit .callout_column {
	width:560px;
	display: flex;
	flex-direction: column;
	padding-top: 1.7em;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 1em 1.33em 3em 1.33em;
	border-top:1px solid #dedede;
}
footer span, footer ul {
	font-size: .8em;
	margin: 0;
}
footer ul li {
	display: inline-block;
	padding: 0 .5em;
}
/*@media only screen and (max-width:1220px) { 

}*/
@media only screen and (max-width:1000px) {
	#start_learning > div {
		width: 80%;
		margin: 0 auto;
	}
	.vert_callout {
		flex-basis: 45%;
		/*margin: 16px;*/
	}
	.banner, #intro, #thesis_exhibit > div:first-of-type {
		flex-direction: column;
		align-items: center;
	}
	.banner > div:nth-child(2) {
		flex-direction: row wrap;
		width: 60%;
		margin-left:0;
	}
	header h1 {
		width: 100%;
		padding-top:0;
	}
	header h1, header h3 {
		text-align: center;
	}
	#thesis_exhibit .callout_collumn {
		width:60%;
	}
}
@media only screen and (max-width: 804px) {
	h1 {
		font-size: 2em;
	}
	h3 { 
		font-size: 1.25em; 
	}
	.banner > div:nth-child(2) , .left {
		width: 90%;
	}
	#logo span {
		display: none;
	}
	 .vert_callout {
	 	flex-basis: 100%;
	 }
	 .vert_callout img {
	 	display: none;
	 }
	 .vert_callout h4 {
	 	padding-top:0;
	 }
	 #intro .callout_column, #thesis_exhibit .callout_column {
	 	width: 90%;
	 }
	 nav ul {
		display: none;
	}
	.mobile-nav {
	    display: block;
	    width: 100%;
	    text-align: center;
	}
	.mobile-nav li{
		padding:.25em 0 .25em .75em ;
	}
	.mobile-nav li img {
		height: 1.75em;
	}
	.callout_column img {
	    /*min-width: 25%;*/
	    width: 25%;
	}
	.horz_callout img + div {
	    width: 75%;
	}
}
@media only screen and (max-width: 500px) {
	#intro .left, #thesis_exhibit h4, #thesis_exhibit p, #thesis_exhibit .callout_column, .vert_callout span, .vert_callout p, footer ul {
		display: none;
	}
	.banner .left {
	    width: 100%;
	    padding: 0;
	    height: 10em;
	    overflow: hidden; /*hides tha part of the image that doesn't fit in the height of the div*/
	}
	header h1 {
		padding-top: 1em;
	}
	.horz_callout {
		flex-direction: column;
		align-items: flex-start;
	}
	.callout_column img {
		width: 60%;
	}
	#intro .callout_column > div:last-child, #thesis_exhibit .callout_column > div:first-child {
	    background-color: #fff;
	}
	.horz_callout img + div {
		margin-top:0;
	}
	.horz_callout h4{
		padding-top:0;
	}
	#start_learning {
		background-color: #fff;
	}
	.vert_callout {
		margin-top: 0;
	}
	.vert_callout > div {
		background-color: #dadfe3;
	}
	#start_learning {
		padding-bottom: 1em;
	}
	#start_learning > div {
		width:95%;
	}
	#thesis_axhibit {
		padding-top: 0;
	}
}