
html {
}
body {
	margin:0;
	font-size: 18px;
	font-family: Arial, sans-serif;
	color: #8e8e8e;
}
h1, h2, h3, h4 {
	color: #373642;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2.25em;
}
h3 {
	font-size: 1.35em;
}
h4 {
	font-size: 1.5em;
}
nav ul li {
	display: inline-block;
}
header div:first-child {
	height: 64px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}
.banner {
	display: flex;
	background-color: #dadfe3;
	padding: 1.7em 1.3em;
}
.banner img {
	width:60%
}
.banner > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left:40px;
		width: 30%;
}
#logo span {
	text-transform: uppercase;
}
div#logo span:first-of-type{
	color: #000;
	font-weight: bold;
}
header ul li {
	margin-left:16px;
	color: #373642;
}
div.button {
	background-color: #373642;
	color: white;
	padding: 8px;
	text-align: center;
}
#intro div:nth-child(2) {
	border-left: 1px solid #777;
}
#callout_column div:last-child {
	background-color: #ebebeb;
} 
.courses {
	text-transform: uppercase;
}
#start_learning {
	background-color: #bebebe;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 24px;
}
footer ul li {
	display: inline-block;
}